<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Forecaster - About</title>
    <link rel="icon" type="image/x-icon" href="/wapplogo.png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    {{>navbar}}
    
    <h2 class="text-center mt-4">All details below about us</h2>
    <div class="teximg d-flex mt-5">
        <div class="texts ms-4 w-50">
             <p style="font-size: 15px; font-family: sans-serif; font-weight: bolder;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sed iusto consequuntur dolore minus blanditiis eum amet magnam dicta? Quas iste consectetur, quis vitae repellat voluptas, quibusdam molestias deleniti magni animi voluptatibus nihil beatae tempora dolore numquam quo earum dolor ipsum sapiente soluta dolorum est nesciunt suscipit inventore? Quaerat natus alias voluptates veniam repellat ipsa repudiandae officia provident atque autem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum consectetur culpa saepe eaque. Odio tempora distinctio dolor animi? Id incidunt dolorum saepe maiores dignissimos nostrum neque quasi perferendis nihil unde architecto vitae vel itaque molestias, non nobis est cum minima officia commodi labore magni voluptatum voluptates. Tempore animi est amet consequatur libero. Porro numquam incidunt iusto repellendus animi placeat. Voluptate? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum saepe cumque beatae iste odit quos pariatur dolor provident. Optio distinctio maxime reiciendis fuga, soluta, aut possimus eius non, sint sequi iusto nostrum aliquam ipsam amet. Deleniti consequatur ab voluptatibus cum harum quia qui eveniet rem quas nesciunt! Voluptatibus dolore eligendi praesentium at itaque laboriosam nihil animi? Molestias blanditiis ut facere. Reprehenderit incidunt laborum sapiente, eius eveniet veritatis veniam porro perspiciatis error, soluta ipsa eaque voluptate dolore inventore accusantium aspernatur et! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam!</p>
        </div>
        <div class="img w-50">
            <img src="/devimg.jpg" class="w-100" alt="devimg">
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>