<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error</title>
    <link rel="icon" type="image/x-icon" href="/wapplogo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <style>
        h1{
    text-align: center;
    padding-top: 120px;
    font-size: 140px;
    font-family: sans-serif;
    font-weight: bolder;
    color: rgb(34, 5, 127);
    margin-bottom: 0;
}


p:nth-child(2){
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bolder;
}

p:nth-child(3){
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
}

.btn{
    display: grid;
    outline: none;
    border: none;
}

.btn button{
    margin: auto;
}
    </style>
</head>
<body>
    <h1>Oops!</h1>
    <P>404 - PAGE NOT FOUND</P>
    <p>The page you are looking for might have been removed <br> had it's name changed or is temporarily unavailable</p>
    <div class="btn">
    <a href="/"><button class="btn btn-primary">GO TO HOMEPAGE</button></a>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>